.container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .container_new {
    margin-top: 20px;
  }
  
  .container_new_title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form_input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .thead {
    background-color: #007bff;
    color: #fff;
  }
  
  .thead th {
    padding: 10px;
    text-align: left;
  }
  
  .tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tbody td {
    padding: 10px;
    max-width: 150px; /* Limita el ancho máximo a 50px */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que desborda */
    text-overflow: ellipsis; /* Muestra los "..." cuando el texto es muy largo */
    max-height: 20px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  