.questionsContainer {
  padding: 20px;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  padding-left: 65px;

}

.faqTitle {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  padding: 25px 10px 5px;
  color: var(--color);
  text-align: center;
}

.faqList {
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 630px;
}

.faqItem {
  margin-bottom: 10px;
}

.question {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 4px;
}



.answer {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  font-size: 18px;
  margin-left: 70px;
  max-width: 950px;
}

.containerQuestion {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.containerQuestion > p {
  margin: 0;
}

.questionImg {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .questionsContainer {
    padding-left: 15px;
  }
}

@media (max-width: 500px) {
  .answer {
    margin-left: 0px;
  }
}