.questionsContainer {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faqTitle {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  padding: 25px 10px 5px;
  color: var(--color);
}

.faqList {
  margin-top: 10px;
}

.faqItem {
  margin-bottom: 10px;
}

.question {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #262626;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.question:hover {
  background-color: var(--background-color);
}

.answer {
  margin-top: 5px;
  padding: 10px;
  border-left: 4px solid #262626;
  border-radius: 0 4px 4px 4px;
  font-size: 16px;
  color: #bbb;
}
