.carouselContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carouselViewport {
    width: 100%;
    overflow: hidden;
  }
  
  .carouselContent {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carouselItem {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 10px; /* Espaciado entre los ítems */
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  