.container {
  padding: 8px;
  width: 100%;
}

.containerInactive {
  opacity: 0.5;
}

.container_title {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.courseTitle {
  font-size: 14px;
  color: var(--color);
  /* margin-bottom: 16px; */
}

.courseTitle::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--color-orange);
  position: absolute;
}

.courseTitle::after {
  bottom: 0;
  left: 35px;
  top: 100%;
}

.containerCompletCourse::after {
  content: "";
  display: block;
  width: min(320px, 95%);
  height: 3px;
  background-color: var(--color-orange);
  background-image: linear-gradient(
    to right,
    var(--color-orange),
    var(--color-violet)
  );
  position: absolute;
}

.containerCompletCourse::after {
  bottom: 0;
  left: 35px;
  top: 100%;
}

.moduleList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.moduleItem {
  transition: transform 0.2s ease;
  width: 100%;
  padding: 14px;
  background-color: var(--background-button);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 5px;
  font-weight: 400;
  margin-top: 16px;
  opacity: 0.85;
}

.moduleItemInactive {
  background-color: #666;
}

.moduleItemComplet {
  background-color: var(--color-orange);
  background-image: linear-gradient(
    to right,
    var(--color-orange),
    var(--color-violet)
  );
}

.moduleItem:hover {
  background-color: #00000021;
  color: #fff;
}

.moduleInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.title {
  font-size: 14px;
  color: #fff;
  margin: 0 4px;
}

.icon {
  display: inline-flex; /* Asegura que el ícono se comporte como un elemento en línea flexible */
  align-items: center; /* Centra el ícono verticalmente si se especifica altura */
  justify-content: center; /* Centra el ícono horizontalmente si se especifica ancho */
  width: 24px; /* Ajusta el ancho del ícono */
  height: 24px; /* Ajusta la altura del ícono */
}

.icon svg {
  width: 100%; /* Hace que el ícono ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que el ícono ocupe toda la altura del contenedor */
}

.order,
.typeFile {
  font-size: 0.9rem;
  color: #666;
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }
  .order,
  .typeFile {
    font-size: 1rem;
  }
}
