.container {
  padding: 20px;
}

.containerTitle {
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.titleDescription {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.containerInfo {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px; */
}

.cardContainerTeacher {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  grid-row: span 5 / span 5;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.card {
  border-radius: 3px;
  padding: 5px;
  width: 300px;
  height: 87px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-image: linear-gradient(to bottom, #d97706, #8E169B);
  overflow: auto;
}

.cardInactive {
  background-image: linear-gradient(to bottom, #d97706, var(--color-grey));
}

.cardInternal {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #11111177 !important;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgb(97 96 96 / 20%);
}

.cardTitle {
  font-size: 15px;
  font-weight: 400;
}

.cardDescription {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.cardActions {
  display: flex;
  justify-content: flex-end;
}

.cardButton {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.cardButton:hover {
  background-color: #0056b3;
}
