/* Navigation.module.css */

.contianer_navegation {
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--background-color);
  /* border-radius: 5px; */
  border-bottom: 1xps solid red;
  box-shadow: 0px 1px 0px var(--linear);
}

.container_nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}

.history {
  display: flex;
  align-items: center;
  max-width: 150px; /* Limita el ancho máximo a 50px */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis; /* Muestra los "..." cuando el texto es muy largo */
  gap: 5px;
}

.history_title:hover {
  /* Cambiar color al hacer hover */
  color: #007bff; /* Color principal para resaltar */
}

.history_title {
  /* Eliminar subrayado en los títulos */
  text-decoration: none;
  margin: 0 5px; /* Espacio entre el separador y el título */
  color: #fff;
}

.history > p {
  /* Estilo para el texto del historial */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
}
