/* Contenedor general del video */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

/* Contenedor del video para mantener la relación de aspecto */
.video_container {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-top: 56.25%; /* Relación de aspecto 16:9 */
}

.not_video_container {
  position: relative;
  width: 100%;
}

/* Estilo para el iframe */
.container_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Estilo del título del video */
.video_title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: absolute;
}

.title {
  font-size: 24px;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-align: left;
  display: inline-block;
}

/* Estilo para el elemento */
.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 6px;
  background-color: var(--color-orange);
  position: absolute;
}

.title::after {
  bottom: 0;
  left: 0;
  top: 100%;
}

.video_info {
  position: absolute;
  /* max-width: 96%; */
  padding: 0 15px;
  box-sizing: border-box;
  overflow: auto;
  /* margin: auto; */
  margin-top: 60px;
  background-color: var(--background-button);
}

.containerButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.buttonComplet {
  border-radius: 0;
  color: var(--color);
  /* background-color: var(--color-orange); */
  background-image: linear-gradient(to right, var(--color-orange), var(--color-violet));
  border-style: none;
}



/* estilos de innerhtml */
.video_info h1,
.video_info h2,
.video_info h3,
.video_info a,
.video_info strong {
  color: #fff;
}

.video_info h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--linear);
  position: absolute;
}

.video_info blockquote {
  margin-left: 0;
}

.video_info h1::after {
  bottom: 0;
  left: 0;
}

.video_info a {
  text-decoration: underline;
}

.video_info p {
  line-height: 1.6;
  color: #fff;
}

.video_info img {
  max-width: 250px; /* Ajusta la imagen al tamaño del contenedor */
  height: auto;
  display: block;
  margin: 10px 0; /* Espaciado superior e inferior */
  border-radius: 8px; /* Esquinas redondeadas opcionales */
}

.video_info p > img {
  max-width: 250px; /* Ajusta la imagen al tamaño del contenedor */
  height: auto;
  display: block;
  margin: 10px 0; /* Espaciado superior e inferior */
  border-radius: 8px; /* Esquinas redondeadas opcionales */
}
