.landingHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--color-grey);
  padding: 20px;
  align-items: flex-start;
}

.landingHeaderInfo {
  max-width: 400px;
}

.landingHeaderInfo_title {
  margin: 0;
}

.landingHeaderInfo_subtitle {

}

.landingHeaderInfoContainerImg {
  max-width: 325px;
}

.landingHeaderInfo_img {
  width: 100%;
}

.landingContainer {
  background-image: linear-gradient(180deg, var(--color-grey) 2%, var(--color-purple) 30%, var(--color-purple) 100%);
  padding: 25px 0;
}

.landingContainerTeachers {
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.teacherTitle {

}

.teacherDescription {
  text-align: center;
  margin: 0 10px 30px;
}



@media (max-width: 850px) {
  .landingHeaderInfoContainerImg {
    max-width: 250px;
  }
  
  .landingHeaderInfo_img {
    width: 100%;
  }
}