.container {
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table td {
    padding: 10px;
    max-width: 150px; /* Limita el ancho máximo a 50px */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que desborda */
    text-overflow: ellipsis; /* Muestra los "..." cuando el texto es muy largo */
    max-height: 20px;
  
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  