.containerNav{
  padding: 0 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color);
  padding: 20px;
}

.title {
  color: var(--color);
  font-size: 2rem;
  margin-bottom: 4px;
}

.titleDescription {
  color: var(--color-description);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.classList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%
}

.classCard {
  background-color: var(--linear);
  padding: 20px;
  border-radius: 8px;
  color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.classCard:hover {
  transform: translateY(-5px);
}

.classTitle {
  font-size: 1.5rem;
  color: var(--color-orange);
}

.containerClassSelect {
  height: 70vh;
  overflow-y: auto;
}

/* Responsividad */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .titleDescription {
    font-size: 1rem;
  }

  .classCard {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .titleDescription {
    font-size: 0.9rem;
  }

  .classCard {
    padding: 10px;
  }

  .classTitle {
    font-size: 1.2rem;
  }
}
